@media (min-width: 1000px) {
body  {
font-size:17px;
}

	#sidebar { display:none; }
    #sidebarkomplett { display:block; width:250px }		
	#wrapper  {width:100%;}
	#hamburger 	{ display:none; }
	#date 		{ display: inline-block; }
	#title 		{ display: inline-block;text-align: center;  }	
	#time 		{ display: inline-block; }
	label[for="open-menu"] { display:none; }	   
	header span { width: 33%; } 
			   
nav { width: 250px;	}
/* Content */
#content { 

    margin-left: 270px;

}



}			   
		



@media (max-width: 1000px) {
body  {
font-size:15px;
}

	#sidebarkomplett {
		display: none;
	}
	#sidebar {
		display:block;width:50px;
		}
	
	#hamburger 	{ display:none; }
	#date 		{ display: inline-block; }
	#title 		{ display: none;  text-align: center; }	
	#time 		{ display: inline-block; }
	label[for="open-menu"] { display:none; }
	
	header span { width: 49%; }

		nav {     width: 28x; 		}
		/* Content */
#content { 

    margin-left: 65px;

}





}			




@media (max-width: 600px) {

body  {
font-size:15px;
}



	#sidebarkomplett {
		display: none;
	}
	#sidebar {
		display:none;
		}
	
	
	#hamburger 	{ display: inline-block;  }
	#date 		{ display: none; }
	#title 		{ display: inline-block;  text-align: center; }	
	#time 		{ display: none; }
	label[for="open-menu"] { display:inline; }
	header span { width: 99%; }
	

		nav {     width: 25px; 	position: relative;	}
		/* Content */
#content { 

    margin-left: 2px;

}
#wrapper {
/*	width:100vw;*/
	/*min-width:600px;*/
}
.btn-icon {
	display:none;
}

.container {
padding-left: 2px;
padding-right: 2px;	
}

.hh 
{
padding:6px 10px;
}
img .icon{
height:25px;
}
body  {
font-size:15px;
}




}	   
