#hideslide {
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#backgroundslide {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../image/bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#clock0,
#clock1 {
    -webkit-text-fill-color: #dddddd;
    -webkit-text-stroke:3px #000000;
}

#imgload {
    display: none;
}

@keyframes slideunvisi { 
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes slidevisi { 
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
