html,
body {
  height: 100%;
  margin: 0;
}

@font-face {
    font-family: "conthrax";
    src:url(../font/conthrax-sb.otf) format("opentype");
}

body {
    background: #000000;
}

@keyframes visi { 
  0% {
    opacity: 0;
    transform: scale(0.1);
  }

  95% {
    opacity: 0.95;
    transform: scale(1.05);
  }
  
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes unvisi { 
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  5% {
    opacity: 95;
    transform: scale(1.05);
  }

  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

#clock0,
#clock1 {
  height: 140px;
  width: 740px;
  position: absolute;
  font-family: conthrax, Open Sans,Arial,Helvetica,sans-serif;
  font-size: 60px;
  line-height: 60px;
  color: #cccccc;
  background: -webkit-linear-gradient(top, #cccccc 10px, #777777 60px, #cccccc 60px, #777777 130px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
